.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 408px;
  height: 70%;
  max-height: 584px;
  position: relative;
  overflow: auto;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  background-color: #fcfcfc;
}

.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  background-color: #e7e9fc;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-top: 72px;
  margin-bottom: 16px;
}

.input-wrapper {
  margin-bottom: 8px;
}

.form-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.text-input {
  width: 100%;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  resize: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input:focus,
.comment-textarea:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

/* Privacy Policy
line-height: 16px; 
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: var(--iris); */

.checkbox-accent {
  color: #4d5ae5;
}

.send-button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* padding-left: 65px;
  padding-right: 65px; */
}

.send-button:focus {
  background-color: #404bbf;
}
